nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(58, 58, 87);
  color: white;
}

.nav-links {
  display: inline-block;
  list-style: none;
  float: left;
}

.nav-links li {
  display: flex;
  float: left;
  padding-right: 30px;
}
